*{
    box-sizing: border-box;

}
.box{
    float: left;
    padding: 1em;
    border: 1px solid;
    width: 50%;

}


body{
    max-width:50em;
    margin: 1em auto;

}
.athugid{
    
}
.bigL{
    padding: 0 .3em;
    float:left;
    font-size: 4em;
}
.imgR{
    float: right;
    padding: 0 .3em;
    width: 40%;
}
.imgR img{
    width:100%;
    height: auto;
}